*, *::before, *::after{
    box-sizing: border-box;
}
@font-face {
    font-family: roboto;
    src: url(Roboto/Roboto-Regular.ttf);
}
body{
        background: url("images/background.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
		position: absolute;
		font-family: roboto;
		color: white;           
		min-height: 100vh; 
}

.main-logo{
    background:url(images/white-logo.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    height: 111px;
    width: 215px;
    left: 66px;
    top: 8px;
    border-radius: 0px;
    display: flex;
}

.main-nav ul{
display:flex;
margin: 0;
padding: 0;
list-style:none;
}

.main-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1.5rem;

}
.main-nav a:hover{
    color: #adadad;
    
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    width: 1400px;
}
.container{
    margin: 0;
    padding: 0 40px;
}
.main-nav{
    max-width: 1700px;
}
.discover{
transition: transform 0.25s;
}
.discover:hover{
    transform: scale(1.05);
}
.join{
padding-left: 3px;
padding-top: 3px;
padding-bottom: 3px;
padding-right:3px;
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 10px;
display: flex;
margin-top: -5px;
height: 30px;
transition: transform 0.25s;
}
.join:hover{
    transform: scale(1.05);
}

a {
    color: black;
    cursor: pointer;
    text-decoration: none;

}
button{
    background: none;
    font: inherit;
    color: white;
  transition: 0.25s;
}
.button{
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right:3px;
    text-align: center;
    font-weight: bold;
    color: black;
    background-color:white;
    opacity: 50%;
    transition: transform 0.25s;
    font: inherit;
    }
.button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.pink-circle{
    
    position: fixed;
    left: 25%;
    right: 62%;
    top: 5%;
    bottom: 70%;
    display: inline-block;
    border-radius: 50%;
    background: #911F9B;
    opacity: 20%;
}
.yellow-circle{
    position: fixed;
    left: 65%;
    right: 10%;
    top: 10%;
    bottom: 40%;
    background: linear-gradient(180deg, rgba(204, 190, 66, 0.11) 24.96%, rgba(145, 240, 234, 0.0088) 124.96%);
    display: inline-block;
    border-radius: 50%;
}
.blue-circle{
    position: fixed;
    left: -16.98%;
    right: 69.38%;
    top: 54.72%;
    bottom: -39.35%;
    display: inline-block;
    border-radius: 50%;
    background: rgba(10, 101, 146, 0.12);
}
.about-us
{
    position: absolute;
    height: 500px;
    width: 900px;
    background: grey;
    opacity: 80%;
}