body{
  overflow: hidden;
}
.form-join
{
    height: 400px;
    width: 434px;
    position: absolute;
    margin-left: 10%;
    border-radius:11px;
    display: inline-block;
}
form
{
	position: relative;
	opacity: 1;

}
input{
	background-color: white ;
	opacity: 100%;
	border: 1px white;
	border-radius: 11px;
	backface-visibility: none;
	background-repeat: no-repeat;
	color: black;
	font-family: inherit;
	padding: 12px 24px;
    width: 355px;
	height: 50px;
    padding: 12px 24px;
}
#join{
	position: relative;
	left: 40px;
	top: 25px;
	display: inline-block;
	line-height: 50px;
	opacity: 100%
}
.button {
  background-color: #777777;
  border: none;
  color: black 80%;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 48px 40px;
  border-radius: 11px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.input-head{
	opacity: 100%;
}