@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*::before, *::after{
  padding: 0;
  margin: 0;
}
:root{
  --primary:#999999;
  --grey:#dddddd;
  --black: #111111;
  --white: #ffffff;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(179.62deg, rgba(3, 32, 47, 0.9) 37.64%, rgba(2, 11, 16, 0.94) 69.72%);
}
.items ul li{
  color: white;
  position: relative;
  margin-left: 35px;
  top: 150px;
  padding: 10px;
  font-size: 16px;
  list-style: none;


}
.main-logo{
    background:url(images/white-logo.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    height: 100px;
    width: 204px;
    border-radius: 0px;
    display: flex;
}
.sidebar
{
 background: black;
 height: 90%;
 max-width: 500px;
 width: 300px;
 border:1px solid;
 display: flex;
 position: absolute;
 left: 0px;
 top: 0px;
}
.wrapper{
  width: 100%;
  padding: 25px 30px;
  overflow: hidden;
  position: relative;
  background: var(--black);
  height: 120px;
  top: 306px;
}
.wrapper i{
  cursor: pointer;
}
.top-bar, .progress-area .song-timer, 
.controls, .music-list .header, .music-list ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.img-area{
    --size: 4.5em;
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
}
.img-area img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.song-details{
  margin: unset;
  left: 110px;
  position: relative;
  top: -55px;
}
.song-details p{
  color: var(--primary);
}
.song-details .name{
  font-size: 14px;
}
.song-details .artist{
  font-size: 10px;
  opacity: 0.9;
  line-height: 35px;
}
.progress-area{
  height: 4px;
  width: 500px;
  border-radius: 50px;
  background: #f0f0f0;
  cursor: pointer;
  position: relative;
  margin-left: 450px;
  margin-top: -70px;
}
.progress-area .progress-bar{
  height: inherit;
  width: 0%;
  position: relative;
  border-radius: inherit;
  background: var(--grey);
}
.progress-bar::before{
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: 50%;
  right: -5px;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
  background: inherit;
  transition: opacity 0.2s ease;
}
.progress-area:hover .progress-bar::before{
  opacity: 1;
  pointer-events: auto;
}
.progress-area .song-timer{
  margin-top: 2px;
}
.song-timer span{
  font-size: 13px;
  color: var(--grey);
}
.controls{
  display: flex;
  position:relative;
  margin-top: -70px;
  width: 20%;
  left: 550px;
}
.controls i{
  font-size: 28px;
  user-select: none;
  background: var(--primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.controls i:nth-child(2),
.controls i:nth-child(4){
  font-size: 43px;
}
.controls #prev{
}
.controls #next{
  
}
.controls .play-pause{
  height: 54px;
  width: 54px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--black);
}
.play-pause::before{
  position: absolute;
  content: "";
  height: 43px;
  width: 43px;
  border-radius: inherit;
  background: var(--white);
 
}
.play-pause i{
  height: 43px;
  width: 43px;
  line-height: 43px;
  text-align: center;
  background: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
}
.volume{
  position: relative;
  left: 1225px;
  bottom: 35px;
}

.music-list{
  position: fixed;
  background: var(--white);
  width: 100%;
  left: 0;
  top: 0px;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  padding: 15px 30px;
  border-radius: 15px;
  box-shadow: 0px -5px 10px rgba(0,0,0,0.1);
  transition: all 0.15s ease-out;
}
.music-list.show{
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}
.header .row{
  display: flex;
  align-items: center;
  font-size: 19px;
  color: var(--lightblack);
}
.header .row i{
  cursor: default;
}
.header .row span{
  margin-left: 5px;
}
.header #close{
  font-size: 22px;
  color: var(--black);
}
.music-list ul{
  margin: 10px 0;
  max-height: 260px;
  overflow: auto;
}
.music-list ul::-webkit-scrollbar{
  width: 0px;
}
.music-list ul li{
  list-style: none;
  display: flex;
  cursor: pointer;
  padding-bottom: 10px;
  margin-bottom: 5px;
  color: var(--lightblack);
  border-bottom: 1px solid #E5E5E5;
}
.music-list ul li:last-child{
  border-bottom: 0px;
}
.music-list ul li .row span{
  font-size: 17px;
}
.music-list ul li .row p{
  opacity: 0.9;
}
ul li .audio-duration{
  font-size: 16px;
}
ul li.playing{
  pointer-events: none;
  color: var(--black);
}